<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jsplumb.js"></script>

    <script src="~/Scripts/custom/flow.js"></script>
    <script src="~/Scripts/custom/plumb.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="#" rel="shortcut icon" type="image/x-icon" />

</head>
<body>
    @*oncontextmenu="return false;">*@

    <div id="note">
        <h3>The Flow Pattern experiment</h3>
        Click to drag the elements around. <br />
        Double click to activate or deactivate them.
    </div>

    @RenderBody()



</body>
</html>