@@ -1,206 +0,0 @@ ﻿
/*MAIN SETTINGS*/
* {
    margin: 0;
    padding: 0;
}

html, body, #container {
    height: 100%;
}

main {
    height: 100%;
}

#note {
    position: absolute;
    padding: 0 15px 15px 15px;
    margin: 20px;
    /* Border radius for Chrome, Webkit and other good browsers */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #aaaaaa;
    background-color: rgba(230,230,230,0.5);
    color: #707070;
    font-size: 20px;
}

/*BOARD ITEM*/
.item_row {
    height: calc(100%/10);
}

.item_cell {
    float: left;
    width: calc(100%/10);
    height: 100%;
    border: 1px dashed #eeeeee;
}

    .item_cell.selected {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 3px dashed red;
    }



/*JS PLUMB ITEM*/
.item {
    position: absolute;
    height: 80px;
    width: 80px;
}

/*FLOW ELEMENTS*/
.generator,
.switch,
.light {
    height: 80px;
    width: 100px;
    text-align: center;
    font-family: 'Glyphicons Halflings';
    font-size: 30px;
    cursor: pointer;
    border: 3px solid #888888;
    background: lightgray;
    /* Border radius for Chrome, Webkit and other good browsers */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -border-radius: 10px;
    border-radius: 10px;
}

    .generator.active.activated {
        background: #f2dede;
        border-color: #a94442;
        color: #a94442;
    }

    .light.activated {
        background: #fcf8e3;
    }

        .light.activated.active {
            background: #dff0d8;
        }


.active,
.active.activated {
    color: green;
    border-color: green;
}

.activated {
    color: #C87A11;
    border-color: #C87A11;
}


/*AFTER STUFF*/
#container ::after {
    position: absolute;
    top: 45px;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
}

/*GENERATOR*/
.generator:after {
    content: "Generator";
    left: 12px;
}

.generator:before {
    content: "\e017";
}


/*SWITCH*/
.switch:after {
    content: "Switch";
    left: 22px;
}

.switch:before {
    content: "\e088";
}

.switch.activated:before {
    content: "\e089";
}

.switch.active.activated:before {
    content: "\e084";
}


/*LIGHT*/
.light:after {
    content: "Light";
    left: 32px;
}

.light:before {
    content: "\e007";
}

.light.activated:before {
    content: "\e007";
}

.light.active:before {
    content: "\e006";
}
